# Xcode
.DS_Store
*.xcuserstate
*.xcworkspace
xcuserdata/
DerivedData/

# Swift Package Manager
.build/

# Xcode build output
build/

# Logs
*.log

# Swift Playgrounds
timeline.xctimeline
playground.xcworkspace

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Instruments
*.trace

# SwiftPM - resolved files (optional)
Package.resolved
